<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebDriver" value="chrome" />
    <!--Options: ie, chrome, firefox, saucelabs-->
    <add key="Environment" value="prozyle" />
    <!--Options: google, todayDiscounts, prozyle, qwipo, xavica-->
    <add key="ProzyleUserName" value="mani.karumuri@gmail.com" />
    <add key="testPassword" value="Pr0zy!eTest"/>
  </appSettings>
</configuration>