<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebDriver" value="chrome" />
    <!--Options: ie, chrome, firefox, saucelabs-->
    <add key="Environment" value="todayDiscounts" />
    <!--Options: google, todayDiscounts, prozyle, qwipo, xavica-->
  </appSettings>
</configuration>